@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-gradient-to-br from-primary-50 to-secondary-50 text-gray-900;
  }
}
